#container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px repeat(5, 100px);
    /* gap: 5px; */
    row-gap: 10px;
    column-gap: 10px;
}

.item{
    border: 1px solid rebeccapurple;
    padding: 20px;
    background-color: lightgreen;
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.day{
    background-color: lightslategray;
    font-weight: 600;
}